@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    background-color: #f9f9fb;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.header_section .collapse ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #001d40;
    text-transform: capitalize;
}

.heading_title h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: #032859;
}

.header_section .navbar-nav .nav-link.active {
    color: #001d40;
}

.heading_title {
    padding: 50px 0px 18px;
}

.about_image img {
    border-radius: 8px;
}

.service_card {
    position: relative;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
    padding: 30px 15px;
    margin-top: 34px;
}

.header_section {
    background-color: #ffffff;
    transition: all 0.5s linear;
}

.service_card .service_icon {
    padding: 15px 0px;
}

.service_card .service_content {
    padding: 15px 0px 0px;
}

.service_icon span i {
    font-size: 18px;
}

.service_content p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin: 0px;
}

.service_card .service_icon span i {
    font-size: 54px;
}

.service_content h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
}

.header_section .navbar-brand img {
    width: 100px;
}

.footer_section {
    background-color: #011C40;
    padding: 40px 0px 10px;
}

.footer_links li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

.footer_links li {
    list-style-type: none;
}

.footer_links,
.contact_info ul {
    padding: 10px 0px 0px;
}

.footer_about img {
    width: 100px;
}

.footer_content {
    padding-top: 24px;
}

.footer_content p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin: 0px;
}

.social_icons span {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.social_icons span a {
    font-size: 32px;
    color: #ffffff;
}

.footer_content h4,
.quick_wrap h4,
.contact_info h4 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
}

.loc_info p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.locatin_icon i,
.call_icon i,
.mail_icon i {
    font-size: 16px;
    color: #ffffff;
}

.call_num a,
.mail_info a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

.p_content {
    padding: 15px 0px 10px;
}

.p_content h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.p_content p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin: 0px;
    text-align: justify;
}

.p_btn a {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
}

.project_wrap:hover .p_img img,
.service_wrap:hover .p_img img {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.p_img img {
    transition: all 0.5s ease;
    width: auto;
    height: auto;
    object-fit: contain;
}

.p_img {
    overflow: hidden;
}

.project_wrap {
    padding: 15px;
    box-shadow: 0px 1px 50px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.fixed-top {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    padding: 15px 0px;
    transition: all 0.5s linear;
}

.inner_header {
    background: url("../images/homepage/bread-bg.jpg") no-repeat center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_content h2 {
    font-size: 56px;
    color: #ffffff;
    font-weight: 700;
    line-height: 56px;
    text-transform: capitalize;
}

.inner_content h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    text-transform: capitalize;
    color: #ff9900;
}

.inner_content a {
    color: #ffffff !important;
}

.about_call_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_call_icon span {
    width: 50px;
    height: 50px;
    display: flex;
    background: #ff991e;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.about_call_icon span i {
    color: #ffffff;
}

.call_no h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px;
}

.call_no h3 span {
    font-size: 14px;
    font-weight: 400;
    color: #858585;
}

.call_btn {
    display: flex;
    align-items: center;
}

.call_btn a {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    background: #ff991e;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 6px;
}

.call_btn a:hover {
    background-color: #ffae34;
}

.contact_wrapper,
.service_wrapper {
    margin: 85px 0px;
}

.address_icon {
    display: flex;
    justify-content: center;
}

.address_icon span {
    width: 80px;
    height: 80px;
    display: flex;
    background-color: #ff9900;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
}

.add_detail p,
.add_detail a {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    margin: 0px;
    text-decoration: none;
}

.add_detail {
    margin-top: 15px;
}

.contact_row {
    padding: 50px 25px;
    border: 1px solid #ff991d;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.contact_row:last-child {
    margin-bottom: 0px;
}

.contact_row:hover .address_icon span i {
    transform: scaleX(-1);
    transition: all 0.5s ease-in-out;
}

.address_icon span i {
    font-size: 24px;
    transition: all 0.5s ease-in-out;
}

.service_wrap {
    padding: 15px;
    background-color: #ffffff;
}

.s_content {
    padding: 35px 40px 15px;
}

.s_content h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 15px 0px 25px;
    text-align: center;
}

.s_content p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 26px;
    color: #808080;
}